.header
{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 18%;
}

.topmenu__item
{
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-left: 40px;  
    background-color: #FFF;
}

.title-block
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title
{
    color: #002B6B;
    max-width: 60%;
    font-family: Montserrat, serif;
    font-size: 72px;
    font-weight: 400;
    text-align: center; 
    margin-bottom: 0;
}

.title__text
{
    max-width: 45%;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center; 
    margin-top: 30px;
}

.photos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 4%;
    margin-top: 20px;
}
.student
{
    margin-top: 2%;
    margin-left: 2%;
    width: 240px;
    height: 282px;
    border-radius: 15px;
}

.text-block
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mini-title
{
    max-width: 35%;
    font-family: Montserrat, serif;
    font-size: 56px;
    font-weight: 400;
    text-align: center; 
    margin-bottom: 0;
}

.mini-text
{
    max-width: 45%;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center; 
    margin-top: 30px;
}

.line
{
   border-bottom: 2px solid;
   border-color: #30333825;
   margin-top: 4%;
   margin-left: 4%;
   margin-right: 4%;   
}

.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    width: 20%;
    height: 4%; 
    border-radius: 15px; 
    border-color: #EDEEF0;
    background-color: #FFF;
    border-style: solid; 
}
.card:hover
{
    background-color:  #E6F0FF;
    border-color: #8AB9FF;
    box-shadow: 0 0 5px  #5a5764;
}
.avatar
{
    margin-top: 15px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.av-title
{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat, serif;
    font-size: 20px;
    font-weight: 800;
}
.card__text1
{
    margin-top: 5px;
    font-family: Montserrat, serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 1px;
}
.card__text2
{
    font-family: Montserrat, serif;
    font-size: 12px;
    font-weight: 400;
}
